* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ==============================HERO SECTION================================ */

a{
    text-decoration: none;
}
.top-nav{
    background-color:black ;
    padding: 8px 0px;
}
.top-nav-link ul{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0px;
    padding: 0px;
}
.top-nav-link ul li a{
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 7px;
}
.top-nav-link ul li a img{
    height: 18px;
}
.top-nav-social ul li{
    list-style: none;
}
.top-nav-social ul li a{

}
.top-nav-social ul li a svg{
    width: 20px;
    fill: white;
}
.top-nav-social ul{
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 18px;
    margin: 0px;
    justify-content: end;
}
.top-nav-social 
.hero-section {
    min-height: 100vh;
    background: radial-gradient(
        circle at center,
        rgba(255, 120, 0, 0.25),
        rgba(0, 0, 0, 0.95) 70%
    );
    color: #ffffff;
    position: relative;
    overflow: hidden;
}
.hero-section {
    min-height: 100vh;
    background: radial-gradient(circle at center,
            rgba(255, 120, 0, 0.25),
            rgba(0, 0, 0, 0.95) 70%);
    color: #000;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

/* Trust Bar */
.hero-trust {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    opacity: 1;
}



.trust-text {
    color: #000;
}

.trust-stars {
    color: #f5b301;
    letter-spacing: 2px;
}

/* Heading */
.section-title {
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
}

.section-title span {
    color: #000;
}

/* Subtitle */
.section-subtitle {
    font-size: 1.25rem;
    max-width: 720px;
    line-height: 26px;
    margin: 0 auto;
    color: #000;
}

/* CTA */
.btn-hero {
    background: linear-gradient(135deg, #ff6a00, #ff3c00);
    color: #fff;
    padding: 14px 30px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(255, 90, 0, 0.35);
}

.btn-hero:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 30px rgba(255, 90, 0, 0.55);
    color: #fff;
}

/* Note */
.hero-note {
    font-size: 0.85rem;
    color: #000;
}

.trusted-client img {
    width: 115px;
}
.trust-stars img{width: 115px;}

.partners-wrapper img {
    width: auto;
    height: 30px;
}

.partners-wrapper {
    margin-bottom: 15px;
}

/* Responsive */
@media (max-width: 768px) {
    .section-title {
        font-size: 2.2rem;
    }

    .section-subtitle {
        font-size: 1rem;
    }
}